h1 #{user.login}

ul
  li Name: #{user.name}
  li Email: #{user.email}
  li Age: #{user.age}

ul
  li: a(href="/users/#{user.login}/edit") Edit
  li
    form(action='/users/#{user.login}', method="POST")
      input(type="hidden", name="_method", value="DELETE")
      button(type="submit") Delete
